<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PRODUCTION_API_KEY</key>
	<string>d44c82f5-0bb6-4b24-8361-0619985eb550</string>
	<key>FEATURE_NAME</key>
	<string>In-store Deals</string>
	<key>FEATURE_DESCRIPTION</key>
	<string></string>
	<key>CUSTOM_OPT_IN_FLOW</key>
	<false/>
	<key>COMMUNICATIONS_DISABLED</key>
	<false/>
</dict>
</plist>
